*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.box{
    border: 1px solid blue;
    margin: 1rem;
}

.box.box-red{
    margin: 0;
}
.box.box-cyan {
    transform: translateY(5rem);
}
.box.box-blue{
    transform: translateY(5rem);
}